In [1]:
# Numpy : 산수계산 함수
# Pandas : 자료분석을 위한 함수

In [3]:
import numpy as np

a=[1,2,3,4,5]
b=np.array(a)

print(type(a))
print(a)
print('-------------------')
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4, 5]
-------------------
<class 'numpy.ndarray'>
[1 2 3 4 5]

In [5]:
# 덧셈 연산
print(a+a)
print(b+b)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[ 2  4  6  8 10]

In [9]:
# 사칙연산의 경우 각 요소에 일괄적으로 더해줌
print(b)
print(b+2)
print(b/2)
print(b//2) # // -> 정수값만 나온다.
print(b-1)

[1 2 3 4 5]
[3 4 5 6 7]
[0.5 1.  1.5 2.  2.5]
[0 1 1 2 2]
[0 1 2 3 4]

In [12]:
import pandas as pd

a = pd.Series([1,2,3,4,5])
print(a)
print(type(a))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
# Series : 인덱스를 따로 지정 가능
# 이곳에서의 index = 장르
a = pd.Series([1,2,3,4],index=['a','b','c','d'])
print(a)

a    1
b    2
c    3
d    4
dtype: int64

In [20]:
# dict -> Series
# Series는 하나를 변경하려면 모든걸 다 반복해야하지만 
#framwork는 각각 요소 변경이 가능하다.
a = pd.Series({'a': [1,1,1],'b': [2,2,2],'c': [3,3,3]})
b = pd.DataFrame({'a': [1,1,1],'b': [2,2,2],'c': [3,3,3]})

print(type(a))
print(a)
print('------------')
print(type(b))
print(b)

<class 'pandas.core.series.Series'>
a    [1, 1, 1]
b    [2, 2, 2]
c    [3, 3, 3]
dtype: object
------------
<class 'pandas.core.frame.DataFrame'>
   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3

In [22]:
b['b'] =[3,4,5]
print(b)

   a  b  c
0  1  3  3
1  1  4  3
2  1  5  3

In [29]:
b.index=['x','y','z']
b.columns = ['i','j','k']
print(b)

   i  j  k
x  1  3  3
y  1  4  3
z  1  5  3

In [34]:
print(b)
# print(b.describe())

   i  j  k
x  1  3  3
y  1  4  3
z  1  5  3

In [35]:
# sum() 수직방향 계산
print(b.sum())

i     3
j    12
k     9
dtype: int64

In [36]:
# 수평방향 계산

In [41]:
print(b.sum(axis=1))#수직방향계산
print('---------------------')
print(b.sum(axis=0))#수평방향계산

x    7
y    8
z    9
dtype: int64
---------------------
i     3
j    12
k     9
dtype: int64

In [43]:
data = pd.read_csv('ml-latest-small/movies.csv')
data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [47]:
# 장르 분리
genre = []

for i in data['genres']:
    genre.extend(i.split('|'))
    
#갯수 구하기
print(len(genre))

22084

In [50]:
uq_genre = pd.unique(genre)

print(uq_genre)
print(len(uq_genre))

['Adventure' 'Animation' 'Children' 'Comedy' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Mystery' 'Sci-Fi' 'War' 'Musical'
 'Documentary' 'IMAX' 'Western' 'Film-Noir' '(no genres listed)']
20

In [66]:
# 비어있는 틀 생성
zero_data = np.zeros(len(uq_genre))

# numpy -> pandas
result = pd.DataFrame(zero_data, index=uq_genre, columns=['count'])
print(result)

                    count
Adventure             0.0
Animation             0.0
Children              0.0
Comedy                0.0
Fantasy               0.0
Romance               0.0
Drama                 0.0
Action                0.0
Crime                 0.0
Thriller              0.0
Horror                0.0
Mystery               0.0
Sci-Fi                0.0
War                   0.0
Musical               0.0
Documentary           0.0
IMAX                  0.0
Western               0.0
Film-Noir             0.0
(no genres listed)    0.0

In [67]:
for i in genre:
    result.loc[i]+=1
print(result)

                     count
Adventure           1263.0
Animation            611.0
Children             664.0
Comedy              3756.0
Fantasy              779.0
Romance             1596.0
Drama               4361.0
Action              1828.0
Crime               1199.0
Thriller            1894.0
Horror               978.0
Mystery              573.0
Sci-Fi               980.0
War                  382.0
Musical              334.0
Documentary          440.0
IMAX                 158.0
Western              167.0
Film-Noir             87.0
(no genres listed)    34.0